/* must contain a media query */

nav>ul {
    flex-direction: row;
}

#menu-button {
    display: none;
}

#menu-button.show {
    display: none;
}

nav {
    display: block;
}

#nav-holder-div {
    display: none;
}

.nav-links:hover {
    border-left: solid 3px #282828;
    border-top: solid 3px white;
}

.div-row {
    grid-template-columns: 60% 40%;
    gap: 0;
}

#div-row-left {
    margin-right: 0.5rem;
}

#div-row-right {
    margin-left: 0.5rem;
}

#div-row-right img {
    width: clamp(160px, 90%, 250px);
}

h2 {
    font-size: min(4vw, 1.8rem);
}