* {
    /* border: solid black 1px; */
    white-space: nowrap;
    /* this keeps text from jumping down*/
}

body {
    min-width: 320px;
    font-family: Arial, sans-serif;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;

    /* display: flex;
    align-items: center; */
}

header span {
    font-size: clamp(1.5rem, 8vw, 3rem);
    /* vw is 1% of viewport width */
    padding: 0 5%;
}

header img {
    grid-column: 1 / 2;
}

#menu-button {
    font-size: 2rem;
}

#menu-button::before {
    content: "\2630";
}

#menu-button.show {
    display: block;
}

#menu-button.show::before {
    content: "\00D7";
}

nav {
    display: none;
}

nav.show { /* Just .show also works here, but is globally applicable */
    display: block;
}

#nav-holder-div {
    display: block;
    
    /* height: 152px; */
}

#nav-holder-div.show {
    display: none;
}

nav * {
    border: none;
    padding: 3px 0;
}

nav>ul {
    background-color: #282828;
    color: white;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
}

nav>ul>li {
    /* flex: 1; */
    /* justify-content: center; */
    height: 2rem;
}

.nav-links {
    border: solid 3px #282828;
    display: block;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    align-content: center;
}

.nav-links:visited {
    color: inherit;
}

.nav-links:hover {
    background-color: #5A5A5A;
    border-left: solid 3px white;
}

main {
    padding: 0.5rem;
    display: grid;
    grid-template-rows: auto auto auto;
}

h1 {
    margin-top: 0.5rem;
}

.div-row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.div-row>div>h2 {
    margin: 0px;
}

.div-row>div>h2+div {
    display: flex;
    background-color: #DADADA;
    height: 300px;
}

#div-row-left p {
    margin: 0;
    padding: 0.5rem;
}

#div-row-right img {
    display: block;
    width: clamp(200px, 60%, 250px);
    margin: auto;
}

.wrap {
    white-space: normal;
}

h2 {
    background-color: #282828;
    color: white;
    text-align: center;
    font-size: 3.5vw;
    font-size: 1.4rem; /* max(6vw, 1.4rem); */
}

#div-courses {
    height: 200px;
    text-align: center;
}

#div-buttons-courses {
    width: 100%;
}

.button-courses {
    width: 31%;
    margin: 0.4rem;
    background-color: #BABABA;
}

#div-icons-links {
    text-align: center;
}

footer {
    text-align: center;
}